*{
  margin: 0;
}
.header{
  display: flex;
  justify-content: space-around;
  background-color: pink;
  height: 5vh;
}

.body{
  background-image: url(https://media.istockphoto.com/id/959923328/photo/modern-living-salon-interior-3d-render-image.jpg?s=612x612&w=0&k=20&c=qmqhbUTPSX-5DNGHeGIn3FPyglXOxt09R9Kk5KJk5Jw=);
  height: 50vh;
  padding: 5%;
}

.circle{
  border-radius: 50%;
  height: 15vh;
  width: 15vw;
  
}

.secondbody {
  background-color: pink;
  width: 50vw;
  display: flex;
  margin-left: 0;
  margin-top: 10%;
}

.footer{
  background-color: pink;
  height: 5vh;
}